@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply transition-[background] delay-200
}

.light {
  background-image: url('../assets/myLogoBlack.svg');
  background-repeat: no-repeat;
}

.dark {
  @apply bg-dark-background;
  background-image: url('../assets/myLogoWhite.svg');
  background-repeat: no-repeat;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button {
  font-family: 'Poppins', sans-serif;
}

/* Id's animated */

#description {
  animation: text-flicker-in-glow 4s linear both;

}

/*  animations  */

@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
    text-shadow: none;
  }

  10.1% {
    opacity: 1;
    text-shadow: none;
  }

  10.2% {
    opacity: 0;
    text-shadow: none;
  }

  20% {
    opacity: 0;
    text-shadow: none;
  }

  20.1% {
    opacity: 1;
    text-shadow: none;
  }

  20.6% {
    opacity: 0;
    text-shadow: none;
  }

  30% {
    opacity: 0;
    text-shadow: none;
  }

  30.1% {
    opacity: 1;
    text-shadow: none;
  }

  30.5% {
    opacity: 1;
    text-shadow: none;
  }

  30.6% {
    opacity: 0;
    text-shadow: none;
  }

  45% {
    opacity: 0;
    text-shadow: none;
  }

  45.1% {
    opacity: 1;
    text-shadow: none;
  }

  50% {
    opacity: 1;
    text-shadow: none;
  }

  55% {
    opacity: 1;
    text-shadow: none;
  }

  55.1% {
    opacity: 0;
    text-shadow: none;
  }

  57% {
    opacity: 0;
    text-shadow: none;
  }

  57.1% {
    opacity: 1;
    text-shadow: none;
  }

  60% {
    opacity: 1;
    text-shadow: none;
  }

  60.1% {
    opacity: 0;
    text-shadow: none;
  }

  65% {
    opacity: 0;
    text-shadow: none;
  }

  65.1% {
    opacity: 1;
    text-shadow: none;
  }

  75% {
    opacity: 1;
    text-shadow: none;
  }

  75.1% {
    opacity: 0;
    text-shadow: none;
  }

  77% {
    opacity: 0;
    text-shadow: none;
  }

  77.1% {
    opacity: 1;
    text-shadow: none;
  }

  85% {
    opacity: 1;
    text-shadow: none;
  }

  85.1% {
    opacity: 0;
    text-shadow: none;
  }

  86% {
    opacity: 0;
    text-shadow: none;
  }

  86.1% {
    opacity: 1;
    text-shadow: none;
  }

  100% {
    opacity: 1;
    text-shadow: none;
  }
}